html {
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    gap: 10px;
}

.grid-container header {
    grid-area: header;
    background-color:black;
    color: white;
    text-align: left;
    font-size: 50px;
    padding:10px 200px;
}

.grid-container main {
    grid-area: main;
    background-color:white;
    padding: 10px 200px;
}

form {
    border-bottom: 1px solid #ccc;
}

form div {
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
}

label {
    display: inline-block;
    width: 100px;
}

.error {
    color: #FF0000;
}

.inactive {
    display: none;
}

.active {
    display: block;
}

table, td, th {  
    border: 2px solid #ddd;
}

table {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: center;
}

tr:first-child {
    font-weight: bold;
}

.sitemap {
    border-bottom: 1px solid #ccc;
    margin-top: 1px;
}

.grid-container footer {
    grid-area: footer;
    background-color: #ccc;
    padding: 10px 200px;
}